<section class="container-cadastrar">

    <!-- Container (Cartão) -->
    <div class="container-cadastrar-cartao">

        <!--  Container (Texto de Informações) -->
        <div class="container-cadastrar-info">
            <h1 class="titulo">Clientes</h1>
            <p class="subtitulo">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore!</p>
        </div>

        <!-- Container (Botão - cadastrar) -->
        <div class="container-cadastrar-button">
            <button class="button" data-bs-toggle="offcanvas" data-bs-target="#cliente">Cadastrar</button>
        </div>
    </div>

    <!-- Container (Tabela) -->
    <div class="container-tabela">

        <div class="container-header">
            <input type="text" placeholder="Pesquise aqui..." class="input" ng-model="searcher.nome">

            <button class="button search" ng-click="searcher(searcher.nome)">
                <i class='bx bx-search-alt'></i>
            </button>
        </div>

        <div ng-include="tabelas.clientes"></div>
    </div>
</section>