<div class="container-topbar">

    <!-- Botâo (Close) -->
    <button class="button close" ng-click="menu()">
        <i class='bx bxs-x-circle'></i>
    </button>

    <!-- Container (header) -->
    <header class="container-topbar-header">
        <h2 class="titulo">Menu</h2>
    </header>

    <!-- Container (items) -->
    <div class="container-items">

        <a href="#!inicio" class="button link">
            <span>Inicio</span>
        </a>

        <a href="#!armazenamento" class="button link">
            <span>Armazenamento</span>
        </a>

        <a href="#!clientes" class="button link">
            <span>Clientes</span>
        </a>
    </div>
</div>