<section class="container-inicio">

    <!-- Container (Cartão) -->
    <div class="container-inicio-cartao">
        <img src="assets/img/home.svg" height="250px">
    </div>

    <!--  Container (Texto de Informações) -->
    <div class="container-inicio-info">
        <h1 class="titulo">Bem Vindo</h1>
        <p class="subtitulo">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore!</p>
    </div>

    <div class="container-buttons">

        <!-- Container (Botão - Entrar) -->
        <div class="container-entrar-button">
            <a href="#!entrar" class="button solid inicio">Entrar</a>
        </div>

        <!-- Container (Botão - Registrar) -->
        <div class="container-registrar-button">
            <a href="#!registrar" class="button inicio" disabled>Registrar</a>
        </div>
    </div>
</section>