<section class="container-inicio">
    <!-- Container (Cartão) -->
    <div class="container-inicio-cartao">

        <img class="img-fluid" src="assets/img/home.svg" alt="">
    </div>

    <!--  Container (Texto de Informações) -->
    <div class="container-inicio-info">
        <h1 class="titulo">Bem Vindo</h1>
        <p class="subtitulo">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore!</p>
    </div>

    <div class="container-buttons">
        <!-- Container (Botão - Entrar) -->
        <div class="container-entrar-button">
            <button class="button solid inicio" ng-click="login()">Entrar</button>
        </div>

        <!-- Container (Botão - Registrar) -->
        <div class="container-registrar-button">
            <button class="button inicio" ng-click="" disabled>Registrar</button>
        </div>
    </div>
</section>